[submodule "webhook-server"]
	path = webhook-server
	url = git@github.djperron.com:dan-perron/webhook-server
[submodule "calcium-tracker"]
	path = calcium-tracker
	url = git@github.djperron.com:dan-perron/calcium-tracker
[submodule "windows-rdp-automation"]
	path = windows-rdp-automation
	url = git@github.djperron.com:dan-perron/windows-rdp-automation.git
  branch = main

